

/* THIS IS THE CSS
<style>
/* user styles */

/* styles are what change the color and sizes of stuff on your site. */

/* these are variables that are being used in the code
these tended to confuse some people, so I only kept 
the images as variables */

:root {
    --header-image: url('#');

    /* colors */
    --content: #000000;
}


body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    background-color: white;
    /* you can delete the line below if you'd prefer to not use an image */
    background-image: url("pornobackground.gif");
    color: bisque;
    font-family:'Times New Roman', Times, serif;
}
* {
    box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(164, 218, 168);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(218, 164, 164);
}

/* below this line is CSS for the layout */

/* this is a CSS comment
to uncomment a line of CSS, remove the * and the /
before and after the text */


/* the "container" is what wraps your entire website */
/* if you want something (like the header) to be Wider than
the other elements, you will need to move that div outside
of the container */
#container {
    max-width: 900px;
    /* this is the width of your layout! */
    /* if you change the above value, scroll to the bottom
and change the media query according to the comment! */
    margin: 0 auto;
    /* this centers the entire page */
}

/* the area below is for all links on your page
EXCEPT for the navigation */
#container a {
    color: pink;
    font-weight: bold;
}

#header {
    width: 100%;
    /* header color here! */
    height: 150px;
    /* this is only for a background image! */
    /* if you want to put images IN the header, 
you can add them directly to the <div id="header"></div> element! */
    background-image: var(--header-image);
    background-size: 100%;
}

/* navigation section!! */
#navbar {
    height: 40px;
    /* navbar color */
    width: 100%;
    
}

#navbar ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    justify-content: space-evenly;
}

#navbar li {
    padding-top: 10px;
}

/* navigation links*/
#navbar li a {
    color: yellowgreen;
    /* navbar text color */
    font-weight: 800;
    text-decoration: none;
    /* this removes the underline */
}

/* navigation link when a link is hovered over */
#navbar li a:hover {
    color: pink;
    text-decoration: underline;
}

#flex {
    display: flex;
}

/* this colors BOTH sidebars
if you want to style them separately,
create styles for #leftSidebar and #rightSidebar */
aside {
    background-color: #000000;
    width: 200px;
    padding: 20px;
    font-size: smaller;
    /* this makes the sidebar text slightly smaller */
}


/* this is the color of the main content area,
between the sidebars! */
main {
    background-color: palegoldenrod;
    color: purple;
    border-radius: 10px;
    flex: 1;
    padding: 20px;
    order: 2;
}

/* what's this "order" stuff about??
allow me to explain!
if you're using both sidebars, the "order" value
tells the CSS the order in which to display them.
left sidebar is 1, content is 2, and right sidebar is 3! */

#leftSidebar {
    order: 1;
    width: 350px;
    height: 400px;
    font-family: "Lucida Handwriting";
    background-image: url("images/notepaper.png");
    background-repeat: no-repeat;
    background-clip: border-box;
    background-color: rgb(164, 218, 168, 0%);
    margin-left: 50px;
}

#rightSidebar {
    order: 3;
    background-color: aliceblue;
}

footer {
    /* background color for footer */
    width: 100%;
    height: 40px;
    padding: 10px;
    text-align: center;
    /* this centers the footer text */
}

h1,
h2,
h3 {
    color: yellowgreen;
    margin-left: 40px;
}

h1 {
    font-size: 25px;
    color: yellowgreen;
}

strong {
    /* this styles bold text */
    color: light grey;
}

/* this is just a cool box, it's the darker colored one */
.box {
    padding: 10px;
    color: grey;
    margin-left: 40px;
}

.blinkieBox {
    background-color: #000000;
}

.pinky {
border-width:7px;
border-style:solid;
border-image: url("https://i.imgur.com/ROjUrNz.gif") 7 fill round;
}

/* CSS for extras */

#topBar {
    width: 100%;
    height: 30px;
    padding: 10px;
    font-size: smaller;
}


/* BELOW THIS POINT IS MEDIA QUERY */

/* so you wanna change the width of your page? 
by default, the container width is 900px.
in order to keep things responsive, take your new height,
and then subtrack it by 100. use this new number as the 
"max-width" value below
*/

@media only screen and (max-width: 800px) {
    #flex {
        flex-wrap: wrap;
    }

    aside {
        width: 100%;
    }

    /* the order of the items is adjusted here for responsiveness!
since the sidebars would be too small on a mobile device.
feel free to play around with the order!
*/
    main {
        order: 1;
    }

    #leftSidebar {
        order: 2;
    }

    #rightSidebar {
        order: 3;
    }

    #navbar ul {
        flex-wrap: wrap;
    }
}
